# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python environment files
*.env
*.ini
*.cfg
*.toml

# Database / credentials (if generated locally)
*.db
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Mypy & Pyre type checker
.mypy_cache/
.pyre/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Pip
pip-log.txt
pip-delete-this-directory.txt
